@import url(https://fonts.googleapis.com/css?family=Alfa+Slab+One);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display);
@import url(https://fonts.googleapis.com/css?family=Bree+Serif);

body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure  {
  margin: 0;
  padding: 0;
}
/*-----------body------------*/
body {
  margin: 50px auto;
  width: 80%;
}
h3 {
  font-size: 1.5em;
  padding-bottom: 10px;
}
h2 {
  font-size: 2.5em;
  color: darkgray;
  font-family: 'Playfair Display', serif;
  margin-left: 75px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
h1 {
  font-size: 12em;
  font-family: 'Bree Serif', serif;
  margin-bottom: 0;
}
#top section p {
  color: darkgray;
  margin-bottom: 20px;
  margin-left: 450px;
  margin-bottom: 30px;
}
/*--------- header ---------*/

header {
  overflow: hidden;
}
header h3 {
  font-size: 1.25em;
}
header h3 span {
  color: teal;
  position: relative;
  padding-left: 20px;
}
header h3 span:before {
  content: "";
  border-left: solid 2px teal;
  transform: rotate(20deg) translateX(-12px) translateY(6px);
  position: absolute;
  width: 20px;
  height: 25px;
}
header h3 span:after {
  content: '';
  border-top: solid 5px black;
  width: 9999px;
  position: absolute;
  margin-left: 5px;
  top: 10px;
}
body header h2 {
  font-size: 2.5em;
  color: darkgray;
  font-family: 'Playfair Display', serif;
  margin-left: 75px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
header p {
  margin-left: 75px;
  font-style: italic;
  font-size: .8em;
}
/*----------images-----------*/
#top {
  display: flex;
  justify-content: space-between;
}
#images {
  display: flex;
  justify-content: space-between;
  width: 800px;
}
figure img {
  margin-bottom: 20px;
  display: block;
}
figure img:last-of-type {
  margin-bottom: 0;
}
/*--------green sidebar-------*/
#plus {
  background-color: teal;
  margin-bottom: 0;
  position: absolute;
  font-family: 'Bree Serif', serif;
  color: white;
  font-size: .9em;
  padding: 1px 10px;
}

sidebar div {
  height: 475px;
  width: 200px;
  border: 1px solid black;
  position: relative;
  margin-top: 21px;
}
#green-box {
  height: 455px;
  width: 180px;
  background-color: palegreen;
  border: none;
  margin: 10px;
}
#green-box img {
  margin: 20px 0 30px 10px;
}
#green-box h3 {
  margin-left: 10px;
  margin-top: 10px;
}
#green-box h3 span {
  color: red;
}
#green-box p {
  margin: 0 10px 10px 10px;
  font-size: .9em;
}
h4 {
  margin: 0 10px;
  font-size: .9em;
}
#circle {
  width: 130px;
  height: 130px;
  border-radius: 75px;
  background: darkgreen;
  margin-left: 40px;
  margin-top: 75px;
   }
#circle h3 {
  margin-left: 55px;
  margin-top: 20px;
  color: white;
}
/*----------bottom---------*/
#bottom {
    padding-top: 40px;
    column-count: 4;
    column-gap: 1em;
}
#bottom section h4 {
  font-size: 1.5em;
  line-height: 0;
  padding-bottom: 20px;
  margin-left: 0;
}
#bottom section p {
  padding-bottom: 30px;
}
.page-numbers {
  color: red;
  font-weight: bold;
}
.page-headers {
  font-weight: bold;
}
